ul {
  list-style: circle;
}

.hide {
  display: none;
}

#show-listings {
  display: none;
}

#property-listings{
  font-weight: 1000;
}

#property-type {
  width: 200px;
  padding-bottom: 20px
}

.portland-vector {
  position:absolute;
  top: 250px;
  left: 200px;
  z-index: 0;
  width: 65rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-black {
  fill: black;
}

.highlight:hover {
  transition-duration: 50ms;
  opacity: .55;
  cursor: crosshair;
}


.small {
  padding-left: 10px;
  font-size: 15px;
}

h1 {
  font-size: 50px;
}

.jumbotron {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}


input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
}  */



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


body {
  display:none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4px;
  font-size: 20px;
  line-height: 30px;
}

.logo {
  line-height: 60px;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding-top: 0;
  padding-left: 730px;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 6px 20px;;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
  color: lightblue;
}

.cityInfo {
  position: relative;
  display: none;
  z-index: 1;
  float: right;
  font-size: 35px;
  padding-right: 170px;
  margin-top: 120px;
}
hr#nice{
  display: none;
} 
hr#line-animate{
  position:absolute;
  z-index: -1;
  float:left;
  border-top: 1px solid lightblue;
  opacity: 75%;
  width: 0px;
}
hr {
  margin-top: -2px;
  border-top: 1px solid black;
}

.neighbor-show {
  display: none;
  margin-left: -15px;
  padding-top: 5px;
}

#back-to-map{
  display: none;
  margin-top: 15px;
}

#api-call{
  margin-top: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: xx-large;

}

#rentData{
  display: none;
  font-family: 'Montserrat', sans-serif;
  width: 300px;
}

.bottom{
  margin-bottom: 500px;
}

footer {
  height: 100px;
}

#show-contact {
  display: none;
}

#show-address {
  display: none;
  float: right;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.4);
 }
 
 .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.4);
 }

 #errorMessageOutput {
   font-size: 28px;
   font-weight: bold;
 }

 li:hover {
  color: lightblue;
  cursor: pointer;
 }